
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: size 20px; 
    font-weight: 500;
     color:rgb(8, 3, 12) ;
}
h1{
    font-family:serif;
    font-size: 40px;
    
    font-weight: 600;
    padding-left: 0px;
    margin-top: 0%;
    

}
body{
    margin-top: 15px;
    background-color: rgba(224, 235, 207, 0.888);
    

 
}

    
.cn{
    font-size: 20px;
    font-weight: 100;
    background-color: rgb(1, 65, 1);
    color: rgb(223, 235, 216);
    border: none;
    margin-bottom: 10px;
    margin-left: 0px;
    border-radius: 20px;
    cursor: pointer;
}
.cn a{
    text-decoration: none;
    color: rgb(234, 226, 226);
    transition: .3s ease;

}
.cn:hover{
    background-color: aliceblue;
}
img{
    
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}
      
    


