*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.container{
    display: flex;
    background-size: cover;
    height: 100%;
    width: 100%;

}
.left-content{
background-color: rgb(50, 156, 221);
width: 30%;
color: aliceblue;
padding: 5%;
height: 100%;
width: 50%;
}
h1{
    font-weight: 700;
    padding-bottom: 60px;
    font-size: 50px;
}
.address{
    padding-bottom: 30px;
    
}

.right-container{
padding: auto;
background-size: cover;
height: 100%;
width: 50%;
   
}
img{
    height: 598px;
    width: 633px;
    
}

.button{
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 105px;
}
.button a{
    
    display: inline-block;
    padding: 10px 50px;
    background: rgb(243, 109, 6);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(4, 2, 18);
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
}
.button a:hover{
    background: rgb(27, 91, 220);
    color: rgb(237, 231, 231);
}

@media screen and (max-width: 1024px) {
    .button a {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 420px) {
    .button a {
      text-align: center;
    }
  }